<div class="container">
    <div class="row">
      <div class="col-3" *ngFor="let item of cars">
        <img [src]="item.image" alt="" srcset="" />
  
        <p>
          Matricule :
          {{ item.matricule }}
        </p>
  
        <p>
          marque :
            {{ item.marque }}
        </p>
        <p>
          siege :
            {{ item.siege }}
        </p>
    
        <p>
          color :
             {{ item.color }}
        </p>
          
        <button
        class="btn btn-primary d-block m-auto"
          (click)="showDetails(item)"
        >
          Details
        </button>
      </div>
    </div>
  </div>