html {
    text-align: center;
  }
  img{
    text-align: center;
  }

  
p{
    font-family: arial;
    font-size: 20px;
    white-space: break-spaces;
  }
  .row{
    box-shadow: 0px 0px 2px 0px black;
  }