<div class="container">
    <div class="row">
        <img [src]="car.image" alt="" srcset="" />
    </div>
    <div class="row">
        <div class="col-3">
            
            <p>matricule :
              {{ car.matricule }}
            </p>
        </div>
        <div class="col-3">
            
            <p>marque :
              {{ car.marque }}
            </p>
        </div>
        <div class="col-3">
            
            <p>siege :
              {{ car.siege }}
            </p>
        </div>
        <div class="col-3">
            
            <p>color :
              {{ car.color }}
            </p>
        </div>
    </div>
  </div>